html,
body {
	padding: 0;
	margin: 0;
}

input, button, a, select {
	-webkit-app-region: no-drag;
}

header {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	padding: 1em;
	height: 1em;
}

section.main {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #ababab;
	margin-top: 3em;
	margin-bottom: 3em;
	overflow: auto;
}

footer {
	position: absolute;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: #99aacc;
	padding: 1em;
	height: 1em;
}

window_button
{
	-webkit-app-region: no-drag;
	cursor: pointer;
	display: inline-block;
	border-radius: 0.5em;
	width: 1em;
	height: 1em;
	border: 1px solid #ccc
}

window_button:clicked  { 
	background-color: bisque;
}